<div browse-directive>
    <h1>Browse</h1>

    <div class="row">
        <div class="container-fluid">
            <form class="form-inline">
                <select class="form-control" ng-model="currCategory">
                    <option ng-repeat="cat in categories" value="{{cat.id}}">{{cat.category}}</option>
                </select>

                <span> in </span>

                <select class="form-control" ng-model="currRegion">
                    <option ng-repeat="reg in regions" value="{{reg.region}}">{{reg.region}}</option>
                </select>

                <button class="btn btn-info" ng-click="getResults()">
                    Find
                </button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid" ng-show="showResults">
            <h2>{{results.length}} Results</h2>
            <p ng-repeat="res in results">{{res.company_name}}</p>
        </div>
    </div>
</div>