<div class="container-fluid">
    <div class="row">
        <div ng-if="company.noUrl === true">
            <h1>{{company.company_name}} <br /><small>{{company.city}}, {{company.state}}</small></h1>
        </div>
        <div ng-if="!company.noUrl">
            <h1><a href="{{company.company_url}}" target="_blank">{{company.company_name}}</a> <br /><small>{{company.city}}, {{company.state}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div ng-if="company.logo_fname" class="row">
            <img class="img-responsive" ng-src="images/logos/{{company.logo_fname}}">
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-striped">
                <tr>
                    <td><strong>Address</strong></td>
                    <td>
                        {{company.street}}<br />
                        {{company.city}}, {{company.state}} {{company.zip}}
                    </td>
                </tr>
                <tr>
                    <td><strong>Phone</strong></td>
                    <td>{{company.phone}}</td>
                </tr>
                <tr>
                    <td><strong>Region</strong></td>
                    <td>{{company.region}}</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>{{company.email}}</td>
                </tr>
                <tr>
                    <td><strong>Fax</strong></td>
                    <td>{{company.fax}}</td>
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td>{{company.description}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h3>Map</h3>
        </div>
    </div>
</div>