
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Regions</span>
    </div>
    <ul class="list-group">
        <a class="list-group-item" ng-repeat="reg in regions" href="#">{{reg.region}}</a>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">Categories</span>
    </div>
    <ul class="list-group">
        <a class="list-group-item" ng-repeat="cat in categories" href="#">{{cat.category}}</a>
    </ul>
</div>