<div class="container-fluid" ng-controller="sidebarController">

    <div class="row">
        <div map-directive></div>
    </div>

    <ul class="nav nav-pills nav-stacked  sidebarScrollable">
        <a class="list-group-item" ng-click="setCategoryId({id: null});setActiveCategory(null);"
           ng-class="{ 'active': activeCategory == null }">None</a>

        <li><a class="list-group-item" ng-repeat="cat in categories" href="#/results/{{cat.id}}"
               ng-click="setCategoryId(cat);setActiveCategory(cat);"
               ng-class="{ 'active' : activeCategory.id == cat.id}">{{cat.category}}</a></li>
    </ul>
</div>